In [48]:
import numpy as np
import pandas as pd
import random
import matplotlib as mpl
from sklearn.datasets import load_iris
from sklearn.preprocessing import MinMaxScaler,Binarizer,StandardScaler,OneHotEncoder
import copy

In [ ]:
iris=load_iris()
type(iris)
iris
dfiris=pd.DataFrame(iris['data'])
y=pd.DataFrame(iris['target'])
dfiris,y

几种数据归一化的方法，**注意()不要漏**

In [2]:
MinMaxScaler().fit_transform(dfiris)
Binarizer(threshold=3).fit_transform(dfiris)
OneHotEncoder().fit_transform(dfiris)
df=StandardScaler().fit_transform(dfiris)

NameError: name 'dfiris' is not defined

In [42]:
f1=pd.read_excel('/Users/yucharlotte/Downloads/QQFiles/附件1.xlsx')
f2=pd.read_csv('/Users/yucharlotte/Downloads/QQFiles/附件2.csv')
f3=pd.read_excel('/Users/yucharlotte/Downloads/QQFiles/附件3.xlsx')
f2.iloc[:,list(data.isnull().sum()>0)].columns
f1

Index(['CASH_C_EQUIV', 'SETT_PROV', 'LOAN_TO_OTH_BANK_FI', 'TRADING_FA',
       'NOTES_RECEIV', 'AR', 'PREPAYMENT', 'PREMIUM_RECEIV', 'REINSUR_RECEIV',
       'REINSUR_RESER_RECEIV',
       ...
       'CA_TURNOVER', 'OPER_CYCLE', 'INVEN_TURNOVER', 'FA_TURNOVER',
       'TFA_TURNOVER', 'DAYS_AP', 'DAYS_INVEN', 'TA_TURNOVER', 'AR_TURNOVER',
       'FLAG'],
      dtype='object', length=348)

In [44]:
f1['股票代码']=f1['股票代码'].astype(str(f2['TICKER_SYMBOL'].dtypes))
f1

         股票代码              所属行业
0        4019               制造业
1        4213               制造业
2        8166               制造业
3        9063            批发和零售业
4       10083   信息传输、软件和信息技术服务业
...       ...               ...
4158  4993201               制造业
4159  4993297  电力、热力、燃气及水生产和供应业
4160  4997833        科学研究和技术服务业
4161  4998808               制造业
4162  4999709               制造业

[4163 rows x 2 columns]

In [65]:
ff=pd.merge(f2,f1,how='left',left_on='TICKER_SYMBOL',right_on='股票代码')
f=ff.drop('股票代码',axis=1)
f.head()

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,ACCOUTING_STANDARDS,CURRENCY_CD,...,OPER_CYCLE,INVEN_TURNOVER,FA_TURNOVER,TFA_TURNOVER,DAYS_AP,DAYS_INVEN,TA_TURNOVER,AR_TURNOVER,FLAG,所属行业
0,4019,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,制造业
1,8166,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,制造业
2,9063,3,3,2,1,A,12,1,CHAS_2007,CNY,...,148.8938,7.424,20.9362,15.298,75.4337,48.4911,1.2774,3.5856,0.0,批发和零售业
3,10083,4,4,4,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,信息传输、软件和信息技术服务业
4,11737,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,制造业

In [76]:
f.iloc[:,list(f.isnull().sum()>0)]
f.iloc[:,list(f.isnull().sum()>0)].isnull().sum().sort_values()

CASH_C_EQUIV             1
N_INCOME_ATTR_P          1
T_PROFIT                 1
N_INCOME                 1
T_COGS                   1
                     ...
N_REINSUR_PREM       22062
FOREX_DIFFER         22063
PREFERRED_STOCK_L    22128
PERPETUAL_BOND_L     22134
ACCRUED_EXP          22209
Length: 349, dtype: int64

In [77]:
class f:
    def __init__(self) -> None:
        print('i\'m a goat' )

In [78]:
g=f()

i'm a goat

In [90]:
class df:
    stat=0
    def __init__(self):
        df.stat+=1
        self.var=0
    @classmethod
    def add(cls):
        cls.stat+=10
        cls.var=20

a=df()
b=df()
c=df()
a.stat+=1
b.add()
c.addi=9
print(a.stat,b.stat,df.stat,df.var,a.__dict__,b.__dict__,c.__dict__)

4 13 13 20 {'var': 0, 'stat': 4} {'var': 0} {'var': 0, 'addi': 9}

#### AR模型
$\gamma_t=\mu+\phi_{1}y_{t-1}+u_t$

读excel文件方法

依赖库***openpyxl, xlrd***
```python
path = '/Users/yucharlotte/Downloads/QQFiles/附件1.xlsx'
frame = open(path)
print(frame.readlines())
frame.close()# 不用则把文件关闭
```
```python
import xlrd
workbook = xlrd.open_workbook('/Users/yucharlotte/Downloads/QQFiles/附件1.xlsx')
# 通过索引获取工作表
# worksheet = workbook.sheet_by_index()
# 通过名称获取工作表
worksheet = workbook.sheet_by_name('Sheet1')
# 读取单元格数据
cell_value = worksheet.cell_value(row, col)
# 读取整行数据
row_values = worksheet.row_values(row)
# 读取整列数据
col_values = worksheet.col_values(col)
# 关闭文件
workbook.close()
```

支持部分markdown语法

基础：

\# 用于标题，注意和后面文字间加一个空格，一共六级标题，按 \# 的数量区分

\$ 用于公式输入，一对\$~\$用于普通公式如$\frac{d\theta}{dt}=\omega$，两对\$\$~\$\$用于行间公式，居中，妙用：标题居中

\* 用于斜体、加粗，一对\*~\*用于*斜体*，两对\*\*～\*\*用于**加粗**，三对\*\*\*～\*\*\*用于***加粗且斜体***

# 一级标题
## 二级标题
### 三级标题
#### 四级标题
##### 五级标题
###### 六级标题
*这是斜体*

_这是斜体_

**这是粗体**

__这是粗体__

***这是粗斜体***

___这是粗斜体___

换行：

1. 直接在一句话后敲两个空格  
1. 两句话之间加一个空行

1. 如果你在编辑的时候，想让一行文字在显示的时候换行，就在中间加<br/>就可以换行了

引用：

>这是一个引用
>>这是一个引用的引用
>>>这是一个引用的引用的引用

插入链接：

[链接名称](链接地址)

或者

<httpe://www.baidu.com>

插入图片：

![图片描述，可写可不写，但是中括号要有](图片地址，本地链接或者URL地址。)

也可以直接复制粘贴

列表：

* 无序列表 \*
* 无序列表 \*
+ 无序列表 \+
+ 无序列表 \+
- 无序列表 \-
- 无序列表 \-

1. 有序列表 1
1. 有序列表 2
3. 有序列表 3

层级列表：

+ 无序列表 1
+ 无序列表 2
	+ 无序列表 2.1
	+ 无序列表 2.2

1. 有序列表 1
	1.1 有序列表 1.1
2. 有序列表 2
	2.1 有序列表2.1

分割线：

---
***
- - -
* * *

注意：写分割线前，要空一行之后写，否则会导致前一行字体放大。

删除线：

~~这是要被删除的文字~~

下划线：

<u>这行文字已被添加下划线</u>

代码块：

`Hello` World.

用\`\`的地方即为代码块

也可以用

```cpp
#include<iostream>
int main(){
   printf("HelloWorld");
}
```
显示代码块

表格:

使用`|`分割不同的单元格  
使用`-`来分隔表头和其他行  
使用`:-`将表头及单元格内容左对齐  
使用`-:`将表头及单元格内容右对齐  
使用`:-:`将表头及单元格内容居中  

例如：

|项目|价格|数量|
|-:|:-|:-:|
|计算机|\$1600|5|
|手机|\$12|12|
|管线|\$1|234|